body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

#top-display {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: red; */
  padding: 20px;
  margin: 20px;
  gap: 20px;
}
#top-display input,
#top-display select {
  padding: 10px;
}
#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.episode-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 10px;
}

.episode-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.episode-card h2 {
  font-size: 1.1em;
  color: #333;
  margin: 10px 0;
}

.episode-card p {
  font-size: 0.9em;
  color: #666;
  margin: 10px 0;
}

.episode-card a {
  display: inline-block;
  margin-top: 10px;
  font-size: 0.9em;
  color: #007bff;
  text-decoration: none;
}

.episode-card a:hover {
  text-decoration: underline;
  color: #0056b3;
}
